Chapter08/VB/VBProject_08/WebServices/2-ASPNETWebService/ASMXClient/Service References/SilverlightResourceASMXService/SilverlightResource.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetResource">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetResourceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetResourceResult" type="tns:ResourceInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ResourceInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Image" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetResourceSoapIn">
    <wsdl:part name="parameters" element="tns:GetResource" />
  </wsdl:message>
  <wsdl:message name="GetResourceSoapOut">
    <wsdl:part name="parameters" element="tns:GetResourceResponse" />
  </wsdl:message>
  <wsdl:portType name="SilverlightResourceSoap">
    <wsdl:operation name="GetResource">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This method call will get the Resource information from the database for a given Resource ID.</wsdl:documentation>
      <wsdl:input message="tns:GetResourceSoapIn" />
      <wsdl:output message="tns:GetResourceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SilverlightResourceSoap" type="tns:SilverlightResourceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResource">
      <soap:operation soapAction="http://tempuri.org/GetResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SilverlightResourceSoap12" type="tns:SilverlightResourceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetResource">
      <soap12:operation soapAction="http://tempuri.org/GetResource" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SilverlightResource">
    <wsdl:port name="SilverlightResourceSoap" binding="tns:SilverlightResourceSoap">
      <soap:address location="http://localhost:62479/SilverlightResource.asmx" />
    </wsdl:port>
    <wsdl:port name="SilverlightResourceSoap12" binding="tns:SilverlightResourceSoap12">
      <soap12:address location="http://localhost:62479/SilverlightResource.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>