Chapter08/C#/Project/WebServices/3-WCFService/WCFClient/Service References/SilverlightResourceWCFService/SilverlightResource1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50962/SilverlightResource.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFClient.Web" />
  <xs:element name="GetResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFClient.Web" minOccurs="0" name="GetResourceResult" type="q1:SilverlightResource.ResourceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>